.navBar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #222222;
    flex-direction: row;
    height: 3em;
    align-items: center;
}

.title {
    padding-right: 1em;
    font-family: 'Roboto', sans-serif;
}

.navBar button {
    padding: 1em;
    margin: 0.5em;
    background-color: #444444;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

.navBar button:hover {
    background-color: #666666;
    transition: 0.2s;
    text-decoration: underline;
}

.navBar button:active {
    background-color: #222222;
    transition: 0.2s;
}

